<h2>Top 20 Requesting IP addresses</h2>
<p>Only first 10_000 entries actually searched to maintain performance</p>
<div id="results">
{{#result}}
Files Loaded = {{result.fileCount}}<br>
Total log file lines = {{result.logEntryCount}}
{{/result}}
</div>
<table>
  <tr><th> Request IP </th><th>  Count </th></tr>
{{#entries}}
  <tr><td> {{ipAddr}}</td><td>  {{count}}</td></tr>
{{/entries}}
</table>
</div>
