<h2>Top 20 User Agents</h2>
<div id="results">
{{#result}}
Files Loaded = {{result.fileCount}}<br>
Total log file lines = {{result.logEntryCount}}
{{/result}}
</div>
<table>
  <tr><th>User Agent</th><th>Count</th></tr>
{{#entries}}
  <tr><td> {{uaName}}</td><td>  {{count}}</td></tr>
{{/entries}}
</table>
</div>
