{{> header}}
<div class="container">
<h1>{{title}}</h1>
<img src="/images/miner.png" id="minerImg">

<a role="button" class="btn btn-default" >
  <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
</a>


    <form method="post" action="/load/">
        <div class="btn-group">
            <input id="loadButton" type="submit" value="Load Log Files" name="save" class="btn btn-info">
        </div>
    </form>
{{#enableFilters}}
<div id="buttonBlock">
    <form method="post" action="/filter/ReqIp">
        <div class="btn-group">
            <input type="submit" value="Top 20 Request IPs" name="save" class="btn btn-info" id="byReqBut">
        </div>
    </form>
    <form method="post" action="/filter/UA">
        <div class="btn-group">
            <input type="submit" value="Top 20 User Agents" name="save" class="btn btn-info" id="byUABut">
        </div>
    </form>
</div>
{{/enableFilters}}
<h1 id="message">{{message}}</h1>
<div id="resultArea">

{{#ByReq}}
{{> byreq}}
{{/ByReq}}

{{#ByUA}}
{{> byua}}
{{/ByUA}}

</div>
{{> footer}}