table {
    float:left;
    width:100%;
    table-layout:fixed
}

/* Stripy table */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* ID's */
#buttonBlock {
    width:100%
}

#buttonBlock form {
    float:left;
    margin-right:2em;
}


#container {
    aliceblue solid 4px
}

#howto {
    margin-top: 16px;
}
#message {
    clear:both
}

#minerImg {
    float:right;
    width:25%
}

/* Classes */

.countcol {
    text-align: right;
}

.uacol {
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}


